openWeather_NodeRed_Clipboard.txt
[{"id":"533a7033.5f992","type":"tab","label":"open weather","disabled":false,"info":""},{"id":"743ebb30.0424c4","type":"openweathermap","z":"533a7033.5f992","name":"","wtype":"forecast","lon":"19.13264","lat":"72.92552","city":"","country":"","language":"en","x":352.00016021728516,"y":278.93397521972656,"wires":[["230b2386.a9efdc"]]},{"id":"f8a379a0.f41148","type":"inject","z":"533a7033.5f992","name":"Trigger","topic":"","payload":"19.13264,72.92552","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197.30006217956543,"y":102.20007705688477,"wires":[["743ebb30.0424c4"]]},{"id":"e4f24d3a.9877d","type":"firebase modify","z":"533a7033.5f992","name":"set.rain","firebaseconfig":"","childpath":"rain","method":"set","value":"msg.payload","priority":"msg.priority","x":803.0005531311035,"y":277.00032234191895,"wires":[[]]},{"id":"230b2386.a9efdc","type":"change","z":"533a7033.5f992","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[7].rain[\"3h\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.3001251220703,"y":93.93342781066895,"wires":[["e4f24d3a.9877d"]]}]