WatsonML_NodeRed_Clipboard.txt
[{"id":"178a98f5.eb4977","type":"tab","label":"Watson ML","disabled":false,"info":""},{"id":"1e1bb17b.8eb4cf","type":"wml","z":"178a98f5.eb4977","name":"Watson ML","connection":"10d2684a.1df278","wml-mode":"runPrediction","model":"da7aa68f-3f1b-4ad3-ab08-63095685cb50","deployment":"453caad6-a63f-41cd-854d-8e96acb92968","modelhidden":"da7aa68f-3f1b-4ad3-ab08-63095685cb50","deploymenthidden":"","x":518.073070526123,"y":231.86155128479004,"wires":[["3db40573.2b990a"]]},{"id":"7cf59f2a.bd835","type":"firebase.on","z":"178a98f5.eb4977","name":"get.rain","firebaseconfig":"","childpath":"rain","atStart":true,"eventType":"value","queries":[],"x":70.07294845581055,"y":370.812518119812,"wires":[["ba9b785e.17bf08"]]},{"id":"7759aa15.313aa4","type":"firebase.on","z":"178a98f5.eb4977","name":"get.Distance","firebaseconfig":"","childpath":"Distance","atStart":true,"eventType":"value","queries":[],"x":99.0000114440918,"y":85.8162956237793,"wires":[["ba9b785e.17bf08"]]},{"id":"ba9b785e.17bf08","type":"join","z":"178a98f5.eb4977","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":95.3001937866211,"y":231.60023880004883,"wires":[["ea9ebe13.a601e"]]},{"id":"f12da98b.0a4798","type":"json","z":"178a98f5.eb4977","name":"","property":"payload","action":"","pretty":false,"x":374.3002471923828,"y":231.93345832824707,"wires":[["1e1bb17b.8eb4cf"]]},{"id":"ea9ebe13.a601e","type":"template","z":"178a98f5.eb4977","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{\"fields\":[\"Rain\",\"Distance\"],\"values\":[[{{payload}}]]}","output":"str","x":238.30015563964844,"y":231.9334259033203,"wires":[["f12da98b.0a4798"]]},{"id":"3db40573.2b990a","type":"change","z":"178a98f5.eb4977","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[0][6]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":689.300163269043,"y":231.60012531280518,"wires":[["1ca27c96.a05223"]]},{"id":"1ca27c96.a05223","type":"firebase modify","z":"178a98f5.eb4977","name":"set.prediction","firebaseconfig":"","childpath":"prediction","method":"set","value":"msg.payload","priority":"msg.priority","x":861.3003005981445,"y":232.73355674743652,"wires":[[]]},{"id":"10d2684a.1df278","type":"wml-config","z":"","host":"https://eu-gb.ml.cloud.ibm.com","accesskey":"p-2f74cdf281329c105341244dd91f2136f69bfcce","instanceid":"2dec08bd-6155-4740-b070-67ea9f101843","name":""}]