weatherInsights._NodeRed_Clipboard.txt
[{"id":"9b08f34e.2a67e","type":"tab","label":"weather insights","disabled":false,"info":""},{"id":"c5caa46.a191158","type":"inject","z":"9b08f34e.2a67e","name":"Timestamp in miliseconds","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":152.99998474121094,"y":125.99999809265137,"wires":[["599ab3d6.1512ec"]]},{"id":"599ab3d6.1512ec","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.time","firebaseconfig":"","childpath":"time","method":"set","value":"msg.payload","priority":"msg.priority","x":626.0000305175781,"y":129.0000057220459,"wires":[[]]},{"id":"27b2cdcb.6745f2","type":"inject","z":"9b08f34e.2a67e","name":"Ingram Micro SSC PL","topic":"","payload":"19.13264,72.92552","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":207.00000762939453,"wires":[["ad42edb5.714b9"]]},{"id":"ad42edb5.714b9","type":"weather_insights","z":"9b08f34e.2a67e","name":"","host":"twcservice.eu-gb.mybluemix.net","service":"/observations.json","geocode":"19.13264,72.92552","units":"e","language":"","x":146.9999771118164,"y":341.00004601478577,"wires":[["5799a958.d63468","e608ab7b.553738","ddf0af16.20039","e2566db0.c2651","c897568f.9bc6b8","39c2f542.9ce00a","e393944c.5628a8","75a7dd94.dba984","cee59c4e.8de0a","2b052daa.030ed2","f2619ee9.c3eac","9b01b466.4402a8"]]},{"id":"e2b307e.552cff8","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.temp","firebaseconfig":"","childpath":"temp","method":"set","value":"msg.payload","priority":"msg.priority","x":623,"y":183.99999809265137,"wires":[[]]},{"id":"5799a958.d63468","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":401.00001525878906,"y":184.00000190734863,"wires":[["e2b307e.552cff8"]]},{"id":"e608ab7b.553738","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":395.0000228881836,"y":233.99999237060547,"wires":[["94d1aac8.76d3c8"]]},{"id":"ddf0af16.20039","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.obs_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":392.00000762939453,"y":284.0000162124634,"wires":[["9fd950a2.33275"]]},{"id":"e2566db0.c2651","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.feels_like","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":385.00000762939453,"y":334.9999933242798,"wires":[["8ecd74c7.e46438"]]},{"id":"94d1aac8.76d3c8","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.pressure","firebaseconfig":"","childpath":"pressure","method":"set","value":"msg.payload","priority":"msg.priority","x":633.0000305175781,"y":235.0000114440918,"wires":[[]]},{"id":"9fd950a2.33275","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.obs_name","firebaseconfig":"","childpath":"obs_name","method":"set","value":"msg.payload","priority":"msg.priority","x":643.0000915527344,"y":285.0000467300415,"wires":[[]]},{"id":"8ecd74c7.e46438","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.feels_like","firebaseconfig":"","childpath":"feels_like","method":"set","value":"msg.payload","priority":"msg.priority","x":626.0000305175781,"y":337.0000190734863,"wires":[[]]},{"id":"c897568f.9bc6b8","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.wc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":387.00000762939453,"y":381.0000171661377,"wires":[["b9ce79b1.086658"]]},{"id":"b9ce79b1.086658","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.wc","firebaseconfig":"","childpath":"wc","method":"set","value":"msg.payload","priority":"msg.priority","x":606.0000305175781,"y":382.00002098083496,"wires":[[]]},{"id":"39c2f542.9ce00a","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.vis","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":386.0000457763672,"y":429.0000648498535,"wires":[["5dd41e91.5d278"]]},{"id":"e393944c.5628a8","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.dewPt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":391.00000762939453,"y":484.0000228881836,"wires":[["adb7bd75.7f9f6"]]},{"id":"75a7dd94.dba984","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.day_ind","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":398.00001525878906,"y":539.9999885559082,"wires":[["bcb87eb5.40565"]]},{"id":"5dd41e91.5d278","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.vis","firebaseconfig":"","childpath":"vis","method":"set","value":"msg.payload","priority":"msg.priority","x":604.0000305175781,"y":433.000057220459,"wires":[[]]},{"id":"adb7bd75.7f9f6","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.dewPoint","firebaseconfig":"","childpath":"dewPoint","method":"set","value":"msg.payload","priority":"msg.priority","x":619.0000267028809,"y":481.0001029968262,"wires":[[]]},{"id":"bcb87eb5.40565","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.day_ind","firebaseconfig":"","childpath":"day_ind","method":"set","value":"msg.payload","priority":"msg.priority","x":607.0000267028809,"y":542.0000114440918,"wires":[[]]},{"id":"cee59c4e.8de0a","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.wdir_cardinal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":384.00001525878906,"y":589.0000305175781,"wires":[["cf3611d7.0dff5"]]},{"id":"cf3611d7.0dff5","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.wdir_cardinal","firebaseconfig":"","childpath":"wdir_cardinal","method":"set","value":"msg.payload","priority":"msg.priority","x":622.0000228881836,"y":602.0000553131104,"wires":[[]]},{"id":"f2619ee9.c3eac","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.wdir","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":379.00008392333984,"y":636.0000982284546,"wires":[["6dcb9915.042418"]]},{"id":"6dcb9915.042418","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.wdir","firebaseconfig":"","childpath":"wdir","method":"set","value":"msg.payload","priority":"msg.priority","x":586.0000915527344,"y":649.0000944137573,"wires":[[]]},{"id":"2b052daa.030ed2","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.wspd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":379.00008392333984,"y":677.0001649856567,"wires":[["f9adafe2.4b96c"]]},{"id":"f9adafe2.4b96c","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.wspd","firebaseconfig":"","childpath":"wspd","method":"set","value":"msg.payload","priority":"msg.priority","x":731.0001564025879,"y":688.0001697540283,"wires":[[]]},{"id":"6658279b.217be8","type":"firebase modify","z":"9b08f34e.2a67e","name":"set.rh","firebaseconfig":"","childpath":"rh","method":"set","value":"msg.payload","priority":"msg.priority","x":583.0173072814941,"y":723.7884311676025,"wires":[[]]},{"id":"9b01b466.4402a8","type":"change","z":"9b08f34e.2a67e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"observation.rh","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":378.01739501953125,"y":712.7884492874146,"wires":[["6658279b.217be8"]]}]